<div class="count-down">
  <div class="container">
    <div class="count-row">
      <div class="count-element">
        <div class="content">
          <span>{{ daysToTargetDate }}</span>
          <span>days</span>
        </div>
      </div>
      <div class="count-element">
        <div class="content">
          <span>{{ hoursToTargetDate }}</span>
          <span>hours</span>
        </div>
      </div>
    </div>
    <div class="count-row">
      <div class="count-element">
        <div class="content">
          <span>{{ minutesToTargetDate }}</span>
          <span>minutes</span>
        </div>
      </div>
      <div class="count-element">
        <div class="content">
          <span>{{ secondsToTargetDate }}</span>
          <span>seconds</span>
        </div>
      </div>
    </div>
  </div>
</div>
