$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

$breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
);

$primary-100: #dd6e42;
$primary-200: #e8dab2;
$primary-300: #eaeaea;
$primary-400: #c0d6df;
$primary-500: #4f6d7a;

$grey-100: #ffffff;
$grey-200: #eeeeee;
$grey-300: #adafaa;
$grey-400: #666d70;
$grey-500: #444f51;